:root {
  --bg : #181D2B ;
  --high-contrast-one: #C9C4FE ;
  --high-contrast-two: #BFE7BD ;
  --accent-one : #30305B;
  --accent-two : #0A3323 ;
  --extra-colour-one : #8C7DC2 ;
  --extra-colour-two : #38904A ;
  --extra-colour-three : #79BB77 ;
  --extra-colour-four : #C4A0F9 ;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg);
  min-height: 100vh;
} 

.theme-Sakura{
  --bg : #F7CDD1 ;
  --high-contrast-one: #48382F ;
  --high-contrast-two : #444545 ;
  --accent-one : #F9A8BB ; 
  --accent-two : #F5F1E6 ;
  --extra-colour-one : #AA7F66 ;
  --extra-colour-two : #A8C3D4 ;
  --extra-colour-three : #D26C86 ;
  --extra-colour-four : #BF8FCC ;
  background-color: var(--bg);
  min-height: 100vh;
}

.theme-Monet{
  --bg :#181D2B;
  --high-contrast-one: #CBB7F5 ;
  --high-contrast-two : #BEE8C5 ;
  --accent-one : #083545 ; 
  --accent-two : #79BB77 ;
  --extra-colour-one : #7ADDF2 ;
  --extra-colour-two : #CAA9F3;
  --extra-colour-three : #FFAED4 ;
  --extra-colour-four : #FD92C4 ;
  background-color: var(--bg);
  min-height: 100vh;
}

.theme-Cyberpunk{
  --bg :#1C1C1C;
  --high-contrast-one: #05F2DB ;
  --high-contrast-two : #66F987 ;
  --accent-one :  #3D1298 ; 
  --accent-two : #1D2331 ;
  --extra-colour-one : #8201F3 ;
  --extra-colour-two : #BA0AFF;
  --extra-colour-three : #C6FF33 ;
  --extra-colour-four : #FF00E2;
  background-color: var(--bg);
  min-height: 100vh;
}

body{
  margin: 0px;
}

.stack-sans-headline-title {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer{
  padding: 10px;
  border: 2px solid var(--accent-one);
  border-radius: 10px; 
  border-bottom-width: 0px;
  text-align: center;
}
footer h2{
  color: var(--high-contrast-one);
  font-size: 22pt;
  padding: 10px;
  margin: 0px;
}
footer a {
  color: var(--high-contrast-two);
  font-size: 16pt;
  text-decoration: none;
}

footer a:hover {
  color: var(--high-contrast-one);
}
footer p{
  margin: 0px;
  font-size: 10pt;
  color: var(--high-contrast-one);
}

.css-1gtchvp-MuiPaper-root,
.css-nos3w0-MuiButtonBase-root-MuiButton-root,
.MuiButtonBase-root {
  color: var(--high-contrast-one) !important;
  background-color: var(--accent-one) !important;
  border-color: var(--bg) !important;
}
@media (hover: hover) {
  .css-2rwryq-MuiButtonBase-root-MuiButton-root:hover{
    color: var(--high-contrast-one) !important;
    background-color: var(--accent-one) !important;
  }
}