:root {
  --bg : #181d2b ;
  --high-contrast-one: #c9c4fe ;
  --high-contrast-two: #BFE7BD ;
  --accent-one : #30305b;
  --accent-two : #0A3323 ;
  --extra-colour-one : #8C7DC2 ;
  --extra-colour-two : #38904A ;
  --extra-colour-three : #79BB77 ;
  --extra-colour-four : #C4A0F9 ;

  --calendar-shadow :  0px 11px 15px -7px rgba(201, 196, 254, 0.2),0px 24px 38px 3px rgba(201, 196, 254, 0.14),0px 9px 46px 8px rgba(201, 196, 254, 0.12)
} 

@media(prefers-color-scheme: sakura ) {
  :root{
    --bg : #F7CDD1 ;
    --high-contrast-one: #48382F ;
    --high-contrast-two : #444545 ;
    --accent-one : #F9A8BB ; 
    --accent-two : #F5F1E6 ;
    --extra-colour-one : #AA7F66 ;
    --extra-colour-two : #A8C3D4 ;
    --extra-colour-three : #D26C86 ;
    --extra-colour-four : #BF8FCC ;
  }
}

@media(prefers-color-scheme: monet ) {
  :root{
    --bg :#181D2B;
    --high-contrast-one: #CBB7F5 ;
    --high-contrast-two : #BEE8C5 ;
    --accent-one : #083545 ; 
    --accent-two : #79BB77 ;
    --extra-colour-one : #7ADDF2 ;
    --extra-colour-two : #CAA9F3;
    --extra-colour-three : #FFAED4 ;
    --extra-colour-four : #FD92C4 ;
  }
}

body{
  background-color: var(--bg);
}

.stack-sans-headline-text {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer{
  padding: 10px;
  border: 2px solid var(--accent-one);
  border-radius: 10px; 
  border-bottom-width: 0px;
  text-align: center;
}
footer h2{
  color: var(--high-contrast-one);
  font-size: 22pt;
  padding: 10px;
  margin: 0px;
}
footer a {
  color: var(--high-contrast-two);
  font-size: 16pt;
  text-decoration: none;
}

footer a:hover {
  color: var(--high-contrast-one);
}
footer p{
  margin: 0px;
  font-size: 10pt;
  color: var(--high-contrast-one);
}